* {
  font-family: "Ubuntu-Light", Roboto;
}

mat-card {
  background-color: rgb(39, 41, 41);
}

mat-card-title {
  font-family: "Ubuntu-Medium", Roboto;
  color: rgb(233, 131, 64);
  margin: 15px;
  font-size: 22px;
}

.float-right {
  align-items: end;
}

.profile-card-content {
  margin-left: 30px;
  font-size: 16px;
  color: aliceblue;
}

.profile-data {
  margin-left: 30px;
  color: rgb(129, 129, 129);
  font-size: 11px;
}


.update-dialog-button {
  margin-left: 30px;
  margin: 10px;
  background-color: rgb(139, 139, 139);
  color: black;
}
