<mat-card class='profile-view-container'>
  <button id="close-button" mat-icon-button [mat-dialog-close]='true'>
    <mat-icon>close</mat-icon>
  </button>

     <mat-card-title>User Details</mat-card-title>
    <mat-card-content>
      <p class='label'>USERNAME</p>
      <p class='data'>{{user.Username}}</p>
      <p class='label'>EMAIL</p>
      <p class='data'>{{user.Email}}</p>
      <p class='label'>BIRTHDAY</p>
      <p class='data'>{{user.Birthday | date: 'dd/MM/yyyy':'UTC' || 'N/A'}}</p>

    </mat-card-content>

    <mat-card-subtitle>
      <button class='update-dialog-button' mat-button (click)='openUpdateUserDialog()'>
        Update Profile
      </button>

      <button class='delete-account-button' mat-button (click)='deleteUserProfileDialog()'>
        Delete Account
      </button>
    </mat-card-subtitle>

</mat-card>