<mat-card class='details-container'>
  <button class="close-button" mat-icon-button color='light' [mat-dialog-close]='true'>
    close
  </button>

  <mat-card-title>{{data.title}}</mat-card-title>
  <mat-card-content>
    <img src={{data.imagePath}} alt={{data.title}} class='movie-image' />

    <p class='label'>DIRECTOR </p>
    <p class="data">{{data.genre}}</p>

    <p class='label'>GENRE</p>
    <p class="data">{{data.director}}</p>

    <p class='label'>SYNOPSIS</p>
    <p class="data">{{data.description}}</p>
  </mat-card-content>

</mat-card>