<mat-toolbar>

  <img class='app-logo' src='https://blog.flamingtext.com/blog/2021/09/15/flamingtext_com_1631746186_320190675.png'
    alt='my FLix logo' />

  <span class='top-nav'></span>
  <div>
    <button mat-button routerLink='/movies'>
      Movies
    </button>
    <button mat-button (click)='openUserProfile()'>
      User Profile
    </button>
    <button mat-button routerLink='/favorites'>
      Favorite Movies
    </button>
    <button mat-button (click)='logOut()'>
      Log out
    </button>
  </div>
</mat-toolbar>