* {
  font-family: "Ubuntu-Light", Roboto;
}

mat-card-title {
  color: rgb(224, 134, 15);
  text-align: center;
}


.director-container {
  background-color: rgb(46, 46, 46);
  color: rgb(221, 221, 221);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 22px;
}

mat-icon {
  font-size: 15px;
  text-align: center;
  padding-right: 10px;
}

#close-button {
  align-self: flex-end;
  color: rgb(181, 181, 184);
  background-color: rgb(37, 37, 37);
}

.label {
  color: rgb(158, 155, 155);
  margin-left: 20px;
  font-size: 10px;
  margin-bottom: -5px;
}

.data {
  color: rgb(233, 230, 230);
  margin-left: 20px;
  margin-right: 18px;
}
