<mat-card class='director-container'>
  <button class="close-button" mat-icon-button color='light' [mat-dialog-close]='true'>
    close
    </button>
  <mat-card-title>{{data.name}}</mat-card-title>
  <p class="data">{{data.bio}}</p>

  <div class="birth-death-wrapper">
    <div class="birth">
      <p class='label'>BORN</p>
      <p class="data">{{data.birthday}}</p>
    </div>
    <div class="death">
      <p class='label'>DIED</p>
      <p class="data">{{data.deathdate || "N/A"}}</p>
    </div>
  </div>
</mat-card>